.cart{
    
}
.items{
    display: grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    align-items: center;
}
.items:last-child{

}
.title{
    display: grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
}
.items_description{
    display: flex;
}

.descr{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.description{
    max-width: 130px;
    font-size: 12px;

}
.descr button{
    border: none;
    cursor: pointer;
    background-color: inherit;
    color: #696969;
}
.descr button:hover{
    color: #000000;
}

.button_add{
    display: flex;
    align-items: center;
    gap: 15px;
}
.button_add button{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 35px;
    width: 35px;
    border: none;
    background-color: rgba(157, 157, 157, 0.2);
    border-radius: 5px;
    cursor: pointer;
}
.button_add button:hover{
    background-color: #d9d9d9;
}
.cart_bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
}
.prisces{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.items_bottom{
    text-align: right;
}
.cart_bottom_button{
    border: none;
    background-color: rgba(157, 157, 157, 0.2);
    padding: 15px 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #d9d9d9;
}
.cart_null{
    justify-content: center;
}